* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(to bottom right, #ff7489, #ffd3a6);
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;

}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 500px;

}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}